<!-- FAKE BATTERY: Simulates charge and discharge of a SmartBattery Object-->
<launch>
    <node name="fake_battery" pkg="fake_battery" type="virtual_battery.py" respawn="true" output="screen">
        <param name="publish_rate" value="2"/>              #Hz rate to publish the battery lvl
        <param name="max_battery_level" value="14.0"/>      #The battery level of full charge    
        <param name="minimum_battery_level" value="12.0"/>  #The battery level that promts a recharge
        <param name="battery_runtime" value="3600"/>         #The battery runtime in seconds (before reaching the minimum value allowed)
        <param name="battery_charging_time" value="120"/>    #The battery charging time
  </node>
</launch>
